# Compilados
bin/
obj/
*.dll
*.pdb

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vs/
*.suo
*.user

# Backups SQLite
Survey_*.sqlite

# Temp
*.tmp
*.log
Thumbs.db

# SQLite binaries (download separately)
SurveyViewerC3D/libs/sqlite.zip
SurveyViewerC3D/libs/sqlite_bundle/
SurveyViewerC3D/libs/sqlite_pkg/
SurveyViewerC3D/libs/sqlite_bundle.zip
